* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--body);
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
:root {
  --white: #ffffff;
  --body: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --studio: #2e2f42;
  --cornflower: #e7e9fc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.navigation {
  display: flex;
  gap: 332px;
}
.picture-block {
  display: block;
}
.nav-position {
  display: flex;
  align-items: center;
}
.logo-position {
  margin-right: 76px;
}
.inside-contacts {
  padding: 24px 0 24px;
}
.mail {
  display: flex;
  gap: 40px;
  white-space: nowrap;
}
.filter-header {
  border-bottom: 1px solid var(--cornflower);
  padding-top: 24px;
  padding-bottom: 24px;
}
.filter-title {
  display: block;
  padding: 188px 0 188px;
}
.title {
  margin: 0 auto;
  max-width: 496px;
  padding-bottom: 48px;
}
.filter-first-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
.boxes {
  padding: 120px 0 120px;
}
.box-position {
  display: flex;
  gap: 24px;
}
.box-calculations {
  width: calc((100% - 72px) / 4);
}
.box-title {
  margin-bottom: 8px;
  width: calc((100% - 72px) / 4);
}
.filter-second-header {
  margin-bottom: 72px;
}
.filter-photos-list {
  width: calc((100% - 48px) / 3);
}
.filter-team {
  border-radius: 0px 0px 4px 4px;
}
.filter-team-name {
  padding: 32px 0px;
}
.filter-third-header {
  text-align: center;
  margin-bottom: 8px;
}
.filter-paragraph {
  text-align: center;
}
.filter-single-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.filter-five-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-position {
  padding: 12px 24px 12px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}
.filter-icons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.inside-icons {
  white-space: nowrap;
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.section {
  padding-block: 120px;
  padding-left: 0px;
}
.section-bottom {
  padding-bottom: 120px;
}
.footer-position {
  padding: 100px 0 100px;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.filter-footer {
  max-width: 264px;
}
.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.filter-studio {
  color: var(--studio);
}
.filter-studio-footer {
  color: var(--cloud);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.list-studio {
  color: var(--studio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-first {
  color: var(--body);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.filter-nav {
  color: var(--studio);
}
.filter-nav:hover {
  color: var(--ocean);
}
.filter-nav:focus {
  color: var(--ocean);
  cursor: pointer;
}

.main-title-background {
  color: var(--white);
  background-color: var(--studio);
}
.branding-header {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.grid-filter {
  display: block;
  margin: 0 auto;
}
.filter-single-button {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.filter-single-button:hover,
.filter-single-button:focus,
.filter-single-button:visited {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}
.first-header {
  color: var(--studio);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.second-header {
  color: var(--studio);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.filter-team-background {
  background-color: var(--cloud);
}
.filter-white-background {
  background-color: var(--white);
}
.footer-paragraph {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--iris);
  background-color: var(--cloud);
}
.filter-button:hover,
.filter-button:focus,
.filter-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
  border: 1px solid transparent;
}
.filter-address {
  font-style: normal;
}
.filter-address:hover {
  color: var(--ocean);
}
.filter-address:focus,
.filter-address:visited {
  color: var(--ocean);
  cursor: pointer;
}
.address {
  color: var(--body);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}